<div class="mb-8">
    <a (click)="back.emit()" class="text-[#1687E4] text-sm flex items-center gap-1 mb-4 cursor-pointer">
        <i class="fa fa-arrow-left"></i> Back to additional documents
    </a>

</div>
<div class="max-w-2xl mx-auto text-center bg-white p-8 rounded-2xl shadow-sm">

    <h2 class="text-2xl font-semibold text-center mb-1">Provide Referral information to Get 15% dscount!</h2>
    <p class="text-gray-500 text-sm text-center mb-8">
        Enter your residence address for verification in Latin letters
    </p>

    <form [formGroup]="form" class="space-y-6">
        <div>
            <label class="block text-sm text-start font-medium mb-1">
                Would you refer some friends? <span class="text-red-500">*</span>
            </label>
            <select formControlName="claimingDependants"
                class="w-full border border-gray-600 rounded-md p-2 focus:outline-none focus:border-[#1687E4]">
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>

        <div *ngIf="form.get('claimingDependants')?.value === 'Yes'" class="space-y-4">
            <div *ngFor="let dep of dependants.controls; let i = index" [formGroup]="dep"
                class="bg-[#F1F8FE] border border-[#CFE7FC] rounded-lg p-4 space-y-3">
                <div class="flex justify-between items-center">
                    <p class="font-medium text-lg mb-2">Referral #{{ i + 1 }}</p>
                    <button type="button" (click)="removeDependant(i)" class="text-red-500 text-sm">
                        <i class="fa fa-times"></i>
                    </button>
                </div>

                <label class="flex justify-start text-base font-medium mb-1">Full name</label>
                <input placeholder="" formControlName="fullName"
                    class="w-full border border-gray-600 rounded-md p-2 focus:outline-none focus:border-[#1687E4]" />

                <label class="flex justify-start text-base font-medium mb-1">Phone Number</label>
                <input placeholder="" formControlName="number"
                    class="w-full border border-gray-600 rounded-md p-2 focus:outline-none focus:border-[#1687E4]" />
            </div>

            <div class="flex justify-end">

                <button type="button" (click)="addDependant()"
                    class="bg-transparent border border-[#1687E4] text-[#1687E4] px-4 py-1 rounded-full text-sm hover:bg-[#1687E4] hover:text-white transition">
                    Add Referral
                </button>
            </div>
        </div>

        <div class="flex gap-4 mt-6">
            <div *ngIf="errorMessage" class="text-red-600 text-sm mt-3">
                {{ errorMessage }}
            </div>

            <div class="flex gap-4 mt-6">
                <button type="button" (click)="continue()" [disabled]="loading"
                    class="bg-[#E30613] text-white px-6 py-2 rounded-full mt-4 flex items-center justify-center gap-2 disabled:opacity-50">
                    <span *ngIf="!loading">Continue</span>
                    <span *ngIf="loading">
                        <i class="fa fa-spinner fa-spin"></i> Submitting...
                    </span>
                </button>
            </div>

        </div>
    </form>
</div>