<footer class="w-full bg-[#e8eaf0] py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <div class="flex flex-col lg:flex-row justify-between gap-10 md:gap-12 mb-10  text-left">

      <div class="md:w-[35%]">
        <div class="flex justify-start  gap-2 mb-4">
          <img src="assets/Logo-black.png" alt="PotionTax Logo" class="h-8 w-auto" />
        </div>
        <p class="text-gray-600 text-base leading-[1.7]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor.
        </p>
      </div>
      <div class="flex flex-row justify-between md:flex-row">
        <div class="md:w-[20%]">
          <h4 class="text-[#00103C] text-base font-bold mb-4">Links</h4>
          <ul class="space-y-2">
            <li><a href="#" class="text-gray-700 text-base hover:text-[#0073ff] transition">About Us</a></li>
            <li><a href="#" class="text-gray-700 text-base hover:text-[#0073ff] transition">Services</a></li>
            <li><a href="#" class="text-gray-700 text-base hover:text-[#0073ff] transition">Contacts</a></li>
          </ul>
        </div>

        <div class="md:w-[20%]">
          <h4 class="text-[#00103C] text-base font-bold mb-4">Legal Information</h4>
          <ul class="space-y-2">
            <li><a href="#" class="text-gray-700 text-base hover:text-[#0073ff] transition">Privacy Policy</a></li>
            <li><a href="#" class="text-gray-700 text-base hover:text-[#0073ff] transition">Cookies</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pt-6 border-t border-gray-300">
      <p class="text-gray-500 text-base text-center">
        © Copyright 2024. All Rights Reserved
      </p>
    </div>
  </div>
</footer>