<header class="w-full bg-white border-b border-gray-100">
  <div class="max-w-7xl mx-auto flex items-center justify-between py-5 px-6">
    <!-- Left: Logo -->
    <div class="flex-shrink-0">
      <img src="assets/logo.png" alt="PotionTax Logo" class="h-8 w-auto" />
    </div>

    <!-- Right: Buttons -->
    <div class="flex items-center space-x-6 gap-2">
      <nav class="flex-1 flex justify-center gap-2">
      <ul class="flex items-center space-x-10 text-base text-gray-800 font-normal">
        <li><a href="#" class="hover:text-[#1687E4] transition">Service</a></li>
        <li><a href="#" class="hover:text-[#1687E4] transition">About</a></li>
        <li><a href="#" class="hover:text-[#1687E4] transition">Contact</a></li>
      </ul>
    </nav>
      <button
        class="bg-[#1687E4] text-white text-base font-medium px-4 py-3 rounded-md hover:bg-[#0063e6] transition"
      >
        Get Tax Estimate
      </button>

      <div
        class="flex items-center border border-[#1687E4] rounded-md px-4 py-3 text-base text-[#1687E4] cursor-pointer hover:border-[#0073ff] transition"
      >
        English
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4 ml-1 text-gray-500"
          fill="#1687E4"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
    </div>
  </div>
</header>
